/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
  font-family: sans-serif;
}

header{
  background-color: rgb(236,242,211);
  padding: 20px;
  position: relative;
  height: 100px;
}

a {
  text-decoration:none;
 
}

#main-menu {
  background-color:#744918;
}

#top-nav{
  position:absolute; top: 10%; right: 30%;
  text-decoration: none;
  font-size: 10px;
 
}

#top-nav a{
   color: rgb(116,73,24);
}

#main-menu ul {
  background-color:rgb (116,73,24);
  padding: 5px 10px 5px 0px;
  font-size:13px;
  height:30px;
  margin-bottom:60px;
   margin-left:19.5%;
  
}

nav li {
	float:left;
  padding: 10px;
  text-transform: uppercase;
  font-weight:bold;
  font-size:14px;
}

nav li a{
	color: white;
}

article{
	float:left;
	width:30%;
	margin-right:5%;
	margin-left:20%
}

article h1{
  text-transform: uppercase;
  color: #744918;
  font-weight:bold;
  font-size: 30px;
  line-height: 1.4em;
}

article h2{
  text-transform: uppercase;
  color: #744918;
  font-weight:bold;
  font-size: 20px;
  line-height: 1.4em;
}

article p{
	font-size:12px;
	line-height:1.4em;
	padding-bottom:.7em;
}

#content{
  clear: both;
  
}

#content-wrapper{
	margin-bottom:100px;
	height:400px;
}

header h1{
	position:absolute;
	left: 20%;
	bottom:5%;
}

#sidebar{
	color: #744918;
}

#sidebar h1{
	font-size:20px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:6px;
}

#sidebar a{
	color: #744918;
	font-size:12px;
	line-height:2em;
}

#images{
	margin-top:1%;
	width:20%;
	float:left;
}

#sidebar img{
	margin-top:-5px;
	width:250px;
}

footer{
	height:200px;
	background-color:#875c33;
	clear:both;
	position:relative;
	
}

footer li{
	float:left;
}


#footer-contact{
	width:10%;
	position:absolute;
	left:20%;
	margin-top:15px;
}


footer h1{
	font-size:20px;
	text-transform:uppercase;
	font-weight:bold;
	color:#cdc2ab;
	padding-bottom:5px;
}

#footer-contact p{
	font-size:12px;
	line-height:1.4em;
	padding-bottom:.7em;
	color:white;
}

#footer-follow{
	width:15%;
	position:absolute;
	left:60%;
	margin-top:15px;
}